{% extends 'AppBundle::layout.html.twig' %}


{% block main %}
    <div class="gla_page_title gla_image_bck gla_wht_txt" data-color="#282828">



        <div class="container text-left">
            <div class="row">

                <div class="col-md-8">

                </div>

                <div class="col-md-4">
                    <div class="breadcrumbs">
                        <a href="{{ path('homepage') }}">Home</a><span>Contact</span>
                    </div>
                </div>

            </div>
        </div>
    </div>


    <section id="gla_content" class="gla_content">



        <!-- section -->
        <section class="gla_section">


            <div class="container text-center">
                <p><img src="/bundles/app/images/animations/flower6.gif" data-bottom-top="@src:/bundles/app/images/animations/flower6.gif" height="180" alt=""></p>

                <div class="row">
                    <div class="col-md-8 col-md-push-2">
                        <form action="" method="POST">
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Your name*</label>
                                    <input type="text" name="name" class="form-control form-opacity" required>
                                </div>
                                <div class="col-md-6">
                                    <label>Your e-mail*</label>
                                    <input type="text" name="email" class="form-control form-opacity" required>
                                </div>

                                <div class="col-md-12">
                                    <label>Notes</label>
                                    <textarea name="message" class="form-control form-opacity" required></textarea>
                                </div>
                                <div class="col-md-12">
                                    <input type="submit" class="btn submit" value="Send">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>


            </div>
            <!-- container end -->

        </section>
        <!-- section end -->

        <section class="gla_section gla_lg_padding gla_image_bck" data-color="#efe5dd">

            <div class="gla_slider_flower" data-bottom-top="@class:active" data--200-bottom="@class:no_active">
                <div class="gla_slider_flower_c1 gla_slider_flower_item"></div>
                <div class="gla_slider_flower_c2 gla_slider_flower_item"></div>
                <div class="gla_slider_flower_c3 gla_slider_flower_item"></div>
                <div class="gla_slider_flower_c4 gla_slider_flower_item"></div>
                <div class="gla_slider_flower_c5 gla_slider_flower_item"></div>
                <div class="gla_slider_flower_c6 gla_slider_flower_item"></div>
            </div>


            <div class="container text-center">
                <p><img src="/bundles/app/images/animations/just_st.gif" data-bottom-top="@src:/bundles/app/images/animations/just.gif" height="150" alt=""></p>
                <div class="gla_slide_midtitle">{{ about.title }}</div>
                <p>
                    {{ about.description }}
                </p>



            </div>
            <!-- container end -->

        </section>
        <!-- section end -->





    </section>
{% endblock %}