{% extends 'AppBundle::layout.html.twig' %}


{% block main %}
    <div class="gla_page_title gla_image_bck gla_wht_txt" data-color="#282828">



        <div class="container text-left">
            <div class="row">

                <div class="col-md-8">
                    <h1 class="gla_h1_title">Shop Category</h1>
                    <h3>Some Subtitle</h3>
                </div>

                <div class="col-md-4">
                    <div class="breadcrumbs">
                        <a href="#">Home</a><a href="#">Shop</a><span>Shop Category</span>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <section id="gla_content" class="gla_content">





        <!-- section -->
        <section class="gla_section">
            <div class="container">



                <div class="row">

                    <div class="col-md-3 gla_anim_box">
                        <div class="gla_shop_item">
                            <span class="gla_shop_item_sale">Sale</span>
                            <span class="gla_shop_item_slider">
                                    <img src="images/wedding_m/600x600/alvin-mahmudov-181259.jpg" alt="">
                                </span>

                            <a href="#" class="gla_shop_item_title">
                                Vintage Floral
                                <b><s>$120.36</s> $12.96</b>
                            </a>
                            <div class="gla_shop_item_links">
                                <a href="#shop"><i class="ti ti-shopping-cart"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 gla_anim_box">
                        <div class="gla_shop_item">
                                <span class="gla_shop_item_slider">
                                    <img src="images/wedding_m/600x600/anne-edgar-119373.jpg" alt="">
                                </span>

                            <a href="#" class="gla_shop_item_title">
                                Lost Ink
                                <b>$13.16</b>
                            </a>
                            <div class="gla_shop_item_links">
                                <a href="#shop"><i class="ti ti-shopping-cart"></i></a>
                            </div>
                        </div>
                    </div>




                </div>




            </div>
            <!-- container end -->
        </section>
        <!-- section end -->



    </section>

{% endblock %}