{% extends 'AppBundle::layout.html.twig' %}


{% block main %}
    <div class="gla_page_title gla_image_bck gla_wht_txt" data-color="#282828">



        <div class="container text-left">
            <div class="row">

                <div class="col-md-8">

                </div>

                <div class="col-md-4">
                    <div class="breadcrumbs">
                        <a href="{{ path('homepage') }}">Գլխավոր</a><span>Ծառայություններ</span>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <section id="gla_content" class="gla_content">

        <!-- section -->
        <section class="gla_section">
            <div class="container">
                <div class="row">
                    {% for service in services %}
                        <div class="col-md-3 gla_anim_box">
                            <div class="gla_shop_item">
                                <span class="gla_shop_item_sale">{{ service.name }}</span>
                                <span class="gla_shop_item_slider">
                                    <img src="{% path service.image,'big' %}" alt="">
                                </span>

                                <a href="{{ path('servicesInner',{'id':service.id}) }}" class="gla_shop_item_title">
                                    {{ service.name }}
                                </a>
                                <div class="gla_shop_item_links">
                                    {#<a href="#shop"><i class="ti ti-shopping-cart"></i></a>#}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>

            </div>

        </section>




    </section>

{% endblock %}